<p id="notice"><%= notice %></p>

<h1>Base Buddy</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @base_buddy.each do |base_design| %>
      <tr>
        <td><%= base_design.title %></td>
        <td><%= base_design.data %></td>
        <td><%= link_to 'Show', base_design %></td>
        <td><%= link_to 'Edit', edit_base_design_path(base_design) %></td>
        <td><%= link_to 'Destroy', base_design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base Design', new_base_design_path %>
