<p id="notice"><%= notice %></p>

<h1>Base Buddy</h1>

<div id="svg_container">
  <svg id="svg" viewBox="-200 -200 400 400" xmlns="http://www.w3.org/2000/svg">
    <symbol id="square" width="40" height="40">
      <rect width="40" height="40"
            fill="none"
            stroke="black"
            stroke-width="2"/>
    </symbol>
    <symbol id="triangle" width="40" height="40">
      <polygon points="0,0 20,40 40,0" 
               fill="none"
               stroke="black"/>
    </symbol>

    <rect x="0" y="0" width="1" height="1" />

    <%= draw_svg_data(@base.data) %>

    
  </svg>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @base_buddy.each do |base_design| %>
      <tr>
        <td><%= base_design.title %></td>
        <td><%= base_design.data %></td>
        <td><%= link_to 'Show', base_design %></td>
        <td><%= link_to 'Edit', edit_base_design_path(base_design) %></td>
        <td><%= link_to 'Destroy', base_design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Base Design', new_base_design_path %>
