<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @base_design.title %>
</p>

<p>
  <strong>Data:</strong>
  <%= @base_design.data %>
</p>

<%= link_to 'Edit', edit_base_design_path(@base_design) %> |
<%= link_to 'Back', base_buddy_path %>
