<!DOCTYPE html>
<html>
  <head>
    <title>Personal Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Home", root_url %>
      <%= link_to "Projects", projects_url %>
      <%= link_to "Blog", blog_url %>
      <%= link_to "Rust Base Buddy", base_buddy_url %>
    </header>
    <%= yield %>
  </body>
</html>
